.article {
  h2 {
    text-align: center;
    @include breakpoint-up(medium) {
      text-align: left;
    }
  }
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    grid-gap: rem(30);

    @include breakpoint-up(medium) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include breakpoint-up(xlarge) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  &__item {
    max-width: rem(300);
    border-radius: rem(8);
    margin-bottom: rem(20);
    background: $white;
    overflow: hidden;
    box-shadow: 0px 3px 12px rgba($color: $dark-blue, $alpha: 0.15);
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.05);
    }
  }
  &__img {
    display: block;
    margin-bottom: rem(26);

    img {
      width: 100%;
    }
  }
  &__content {
    padding: 0 rem(28);
    padding-bottom: rem(40);
  }
  &__author {
    font-size: rem(10);
    line-height: rem(13);
    margin-bottom: rem(12);
    color: $grayish-blue;
  }
  &__title {
    display: block;
    font-size: rem(17);
    line-height: 1.2;
    margin-bottom: rem(8);
    color: $dark-blue;

    &:hover {
      color: $lime-green;
    }
  }
  &__text {
    font-size: rem(13);
    line-height: rem(16.9);
    color: $grayish-blue;
  }
}
