*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Public Sans', sans-serif;
  font-size: rem(14);
  font-weight: 300;
  line-height: 1.3;
  background: $very-light-gray;
  overflow-x: hidden;
}

body.open {
  overflow: hidden;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  margin-top: 0;
  color: $dark-blue;
  font-weight: 300;
}

h1 {
  margin-bottom: rem(24);
}

h2 {
  font-size: rem(30);
  margin-bottom: rem(25);
}
h3 {
  font-size: rem(16);
}

p {
  font-size: rem(14);
  color: $grayish-blue;
  line-height: 1.5;
  margin-bottom: rem(36);
  @include breakpoint-up(large) {
    font-size: rem(18);
    line-height: rem(24);
  }
}

.flex {
  display: flex;
  &-jc-sb {
    justify-content: space-between;
  }
  &-ai-c {
    align-items: center;
  }
  &-dr-cl {
    flex-direction: column;
  }
}

.btn {
  display: inline-block;
  padding: rem(14) rem(32);
  white-space: nowrap;

  &-cta {
    position: relative;
    font-size: rem(14);
    border-radius: rem(50);
    color: $white;
    background: linear-gradient(90deg, $lime-green, $bright-cyan);
    overflow: hidden;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba($color: $white, $alpha: 0.25);
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    &:hover::after {
      opacity: 1;
    }
  }
}

.container {
  padding: rem(70) rem(24);
  max-width: rem(1110);
  margin: auto;
  @include breakpoint-up(large) {
    padding: rem(96) rem(24);
  }

  &-sm {
    padding: rem(64) rem(26);
    @include breakpoint-up(large) {
      padding: rem(105) rem(166);
    }
  }
}
